In [1]:
import pandas as pd
import numpy as np

In [2]:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
path = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'

In [4]:
df = pd.read_csv(path)

In [5]:
df.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

### Create columns for the dataset

In [6]:
name = ['sepal_length','sepal_width','petal_length','petal_width','class']

In [7]:
df.columns = name

In [8]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           4.9          3.0           1.4          0.2  Iris-setosa
1           4.7          3.2           1.3          0.2  Iris-setosa
2           4.6          3.1           1.5          0.2  Iris-setosa
3           5.0          3.6           1.4          0.2  Iris-setosa
4           5.4          3.9           1.7          0.4  Iris-setosa

### Is there any missing value in the dataframe?

In [10]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
class           0
dtype: int64

### Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

In [16]:
df['petal_length'].iloc[10:30] = np.nan

/Users/liziwei/.local/lib/python3.7/site-packages/pandas/core/indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [18]:
df.head(30)

    sepal_length  sepal_width  petal_length  petal_width        class
0            4.9          3.0           1.4          0.2  Iris-setosa
1            4.7          3.2           1.3          0.2  Iris-setosa
2            4.6          3.1           1.5          0.2  Iris-setosa
3            5.0          3.6           1.4          0.2  Iris-setosa
4            5.4          3.9           1.7          0.4  Iris-setosa
5            4.6          3.4           1.4          0.3  Iris-setosa
6            5.0          3.4           1.5          0.2  Iris-setosa
7            4.4          2.9           1.4          0.2  Iris-setosa
8            4.9          3.1           1.5          0.1  Iris-setosa
9            5.4          3.7           1.5          0.2  Iris-setosa
10           4.8          3.4           NaN          0.2  Iris-setosa
11           4.8          3.0           NaN          0.1  Iris-setosa
12           4.3          3.0           NaN          0.1  Iris-setosa
13           5.8          4.0           NaN          0.2  Iris-setosa
14           5.7          4.4           NaN          0.4  Iris-setosa
15           5.4          3.9           NaN          0.4  Iris-setosa
16           5.1          3.5           NaN          0.3  Iris-setosa
17           5.7          3.8           NaN          0.3  Iris-setosa
18           5.1          3.8           NaN          0.3  Iris-setosa
19           5.4          3.4           NaN          0.2  Iris-setosa
20           5.1          3.7           NaN          0.4  Iris-setosa
21           4.6          3.6           NaN          0.2  Iris-setosa
22           5.1          3.3           NaN          0.5  Iris-setosa
23           4.8          3.4           NaN          0.2  Iris-setosa
24           5.0          3.0           NaN          0.2  Iris-setosa
25           5.0          3.4           NaN          0.4  Iris-setosa
26           5.2          3.5           NaN          0.2  Iris-setosa
27           5.2          3.4           NaN          0.2  Iris-setosa
28           4.7          3.2           NaN          0.2  Iris-setosa
29           4.8          3.1           NaN          0.2  Iris-setosa

### Good, now lets substitute the NaN values to 1.0

In [22]:
df['petal_length'].fillna(1.0,inplace=True)

In [23]:
df.head(30)

    sepal_length  sepal_width  petal_length  petal_width        class
0            4.9          3.0           1.4          0.2  Iris-setosa
1            4.7          3.2           1.3          0.2  Iris-setosa
2            4.6          3.1           1.5          0.2  Iris-setosa
3            5.0          3.6           1.4          0.2  Iris-setosa
4            5.4          3.9           1.7          0.4  Iris-setosa
5            4.6          3.4           1.4          0.3  Iris-setosa
6            5.0          3.4           1.5          0.2  Iris-setosa
7            4.4          2.9           1.4          0.2  Iris-setosa
8            4.9          3.1           1.5          0.1  Iris-setosa
9            5.4          3.7           1.5          0.2  Iris-setosa
10           4.8          3.4           1.0          0.2  Iris-setosa
11           4.8          3.0           1.0          0.1  Iris-setosa
12           4.3          3.0           1.0          0.1  Iris-setosa
13           5.8          4.0           1.0          0.2  Iris-setosa
14           5.7          4.4           1.0          0.4  Iris-setosa
15           5.4          3.9           1.0          0.4  Iris-setosa
16           5.1          3.5           1.0          0.3  Iris-setosa
17           5.7          3.8           1.0          0.3  Iris-setosa
18           5.1          3.8           1.0          0.3  Iris-setosa
19           5.4          3.4           1.0          0.2  Iris-setosa
20           5.1          3.7           1.0          0.4  Iris-setosa
21           4.6          3.6           1.0          0.2  Iris-setosa
22           5.1          3.3           1.0          0.5  Iris-setosa
23           4.8          3.4           1.0          0.2  Iris-setosa
24           5.0          3.0           1.0          0.2  Iris-setosa
25           5.0          3.4           1.0          0.4  Iris-setosa
26           5.2          3.5           1.0          0.2  Iris-setosa
27           5.2          3.4           1.0          0.2  Iris-setosa
28           4.7          3.2           1.0          0.2  Iris-setosa
29           4.8          3.1           1.0          0.2  Iris-setosa

### Now let's delete the column class

In [25]:
df3 = df.drop(columns='class')

In [26]:
df3

     sepal_length  sepal_width  petal_length  petal_width
0             4.9          3.0           1.4          0.2
1             4.7          3.2           1.3          0.2
2             4.6          3.1           1.5          0.2
3             5.0          3.6           1.4          0.2
4             5.4          3.9           1.7          0.4
..            ...          ...           ...          ...
144           6.7          3.0           5.2          2.3
145           6.3          2.5           5.0          1.9
146           6.5          3.0           5.2          2.0
147           6.2          3.4           5.4          2.3
148           5.9          3.0           5.1          1.8

[149 rows x 4 columns]

### Set the first 3 rows as NaN

In [30]:
df.iloc[0:3] = np.nan

In [31]:
df

     sepal_length  sepal_width  petal_length  petal_width           class
0             NaN          NaN           NaN          NaN             NaN
1             NaN          NaN           NaN          NaN             NaN
2             NaN          NaN           NaN          NaN             NaN
3             5.0          3.6           1.4          0.2     Iris-setosa
4             5.4          3.9           1.7          0.4     Iris-setosa
..            ...          ...           ...          ...             ...
144           6.7          3.0           5.2          2.3  Iris-virginica
145           6.3          2.5           5.0          1.9  Iris-virginica
146           6.5          3.0           5.2          2.0  Iris-virginica
147           6.2          3.4           5.4          2.3  Iris-virginica
148           5.9          3.0           5.1          1.8  Iris-virginica

[149 rows x 5 columns]

### Delete the rows that have NaN

In [33]:
df = df.dropna()
df.head()

   sepal_length  sepal_width  petal_length  petal_width        class
3           5.0          3.6           1.4          0.2  Iris-setosa
4           5.4          3.9           1.7          0.4  Iris-setosa
5           4.6          3.4           1.4          0.3  Iris-setosa
6           5.0          3.4           1.5          0.2  Iris-setosa
7           4.4          2.9           1.4          0.2  Iris-setosa

### Reset the index so it begins with 0 again

In [36]:
df = df.reset_index(drop=True)

In [37]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.0          3.6           1.4          0.2  Iris-setosa
1           5.4          3.9           1.7          0.4  Iris-setosa
2           4.6          3.4           1.4          0.3  Iris-setosa
3           5.0          3.4           1.5          0.2  Iris-setosa
4           4.4          2.9           1.4          0.2  Iris-setosa